<h1> HELLLO YEH </h1>
<%= link_to 'New Note', new_note_path %>

<% if @notes.any? %>
	<ul>
		<% @notes.each do |note| %>
			<li> <%= link_to note.title, edit_note_path(note) %> </li>
		<% end %>
	</ul>
<% end %>